* {
    color: black;
}

h1 {
    border: 5px solid black;
    border-radius: 25px;
    padding: 10px;
    color: black;
    font-size: 64px;
    text-align: center;
    font-weight: bold;
    background-color: purple;
}

/*This is a note. It's good to get in the habit of writing notes in between code and explaining
the purpose of it.*/

.anchor {
    width: 300px;
    border: 4px solid black;
    border-radius: 20px;
    padding: 8px;
    margin: 150px auto auto auto;
    text-align: center;
    font-size: 32px;
    background-color: #B65FCF;
}

a:hover {
    color: purple;
}

body {
    background-color: gold;
}

li {
    border: 2px solid purple;
    padding: 10px;
    margin: 20px;
    width: 500px;
    font-size: 40px;
    background-color: #B65FCF;
}

ul {
    margin: 150px auto 100px auto;
}

ol {
    margin: -140px auto 100px auto;
}

.logo {
    margin: -200px auto auto 1100px;
    border-radius: 50%;
    border: 10px solid black;
    width: 650px;
}